@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.sr-only {
    display: none;
}

.container {
    width: auto;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 480px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.component {
    width: 100%;
    height: calc(100% - 200px);
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    display: flex;
    justify-content: center;
}

.component img {
    width: calc(100% - 30px);
    height: 280px;
    border-radius: 5%;
    margin-top: 15px;

}

.text {
    width: 82%;
    height: 150px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
}

.text h3 {
    background-color: transparent;
    text-align: center;
    font-weight: 700;
}

.text p {
    background-color: transparent;
    text-align: center;
    margin-top: -5px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.footer {
     font-size: 11px;
     text-align: center; 
}

.footer a { 
    color: hsl(228, 45%, 44%); 
}